<%= form_with(model: meeting, local: true) do |form| %>
    <% if meeting.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>
  
        <ul>
          <% meeting.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="agenda">
    <%= form.label :メモ %>
    <%= form.text_area :minutes, autofocus: true, autocomplete: "minutes" %>
  </div>

  <div class="status">
  <%= form.label :会議の結果 %>
  <%= form.radio_button :status, '完了' %>
  <%= form.label :status, '議論完了', value: 0 %>

   <%= form.radio_button :status, '議論中' %>
   <%= form.label :status, '議論中', value: 1 %>

   <%= form.radio_button :status, '保留' %>
   <%= form.label :status, '保留', value: 2 %>
</div>


  
    <div class="actions">
      <%= form.submit "会議を終了する" %>
    </div>
  <% end %>