<h1>アーカイブ</h1>



<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meetings.each do |meeting| %>
      <tr>
      <td><%= meeting.name %></td>
      <td><%= meeting.agenda %></td>
      <td><%= meeting.goal %></td>
      <td><%= meeting.status %></td>
      <td><%= meeting.start_meeting %></td>
      <td><%= meeting.end_meeting %></td>



        
        <td><%= link_to '編集', edit_meeting_path(meeting) %></td>
        <td><%= link_to '削除', meeting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

