
<div class="container-fluid text-center">
<h2><%= @meeting.name %> 進行中</h2>

<p>会議開始時刻: <%= @meeting.start_meeting.strftime("%-H時%-M分") %></p>
<p>終了予定時刻: <%= @estimated.strftime("%-H時%-M分") %></p>
<p>アジェンダ: <%= @meeting.agenda %></p><br>

<div class="timer_input">
<form name="timer">
<input type="text" value="">分
<input type="text" value="">秒<br>
<input type="button" value="スタート" onclick="cntStart()">
<input type="button" value="ストップ" onclick="cntStop()">
</form>
</div>
<%= javascript_packs_with_chunks_tag 'main' %>
  
  <p>話し合いのゴール: <%= @meeting.goal %></p><br>
  <%= render 'form3', meeting: @meeting %>


</div>