
<div class="container-fluid text-center">
<h2><%= @meeting.name %> 進行中</h2>

<p>会議開始時刻: <%= @meeting.start_meeting.strftime("%-H時%-M分") %></p>
<p>終了予定時刻: <%= @estimated.strftime("%-H時%-M分") %></p>
<p>アジェンダ: <%= @meeting.agenda %></p>

<div class="timer_input">
<form name="timer">
<input type="text" value="<%= @meeting.hold_time %>">分
<input type="text" value="" >秒<br>
<input type="button" value="スタート" onclick="cntStart()">
<input type="button" value="ストップ" onclick="cntStop()">
</form>
</div>

<script>

var timer1;

function cntStart() {
    document.timer.elements[2].disabled = true;
    timer1 = setInterval("countDown()", 1000);
}

//タイマー停止関数
function cntStop() {
    document.timer.elements[2].disabled = false;
    clearInterval(timer1);
}

//カウントダウン関数
function countDown() {
    var min = document.timer.elements[0].value;
    var sec = document.timer.elements[1].value;

    if ((min == "") && (sec == "")) {
        alert("時刻を設定してください！");
        reSet();
    }
    else {
        if (min == "") min = 0;
        min = parseInt(min);

        if (sec == "") sec = 0;
        sec = parseInt(sec);

        tmWrite(min * 60 + sec - 1);
    }
}

//残り時間を書き出す関数
function tmWrite(int) {
    int = parseInt(int);

    if (int <= 0) {
        reSet();
        alert("終了時間になりました！");
    }
    else {
        //残り分数はintを60で割って切り捨てる
        document.timer.elements[0].value = Math.floor(int / 60);
        //残り秒数はintを60で割った余り
        document.timer.elements[1].value = int % 60;
    }
}

function percentage() {
  currentTime = (sec/60 + min + hour*60 ) //カウント時間[min]を取得
  let percent = Math.round(100 - currentTime / $("#meetingTime").html() *100);
  $("#bar").attr("value", percent);
  $("#time").text(percent+" %");
  
  if (percent > 50) {
   
  } else if ( percent <= 50 && percent > 30) {
    alert("折り返しです。ゴールの着地を確認しましょう。");
  } else if ( percent <= 30 && percent > 20) {
    alert("70%経過しました。<br>議論の収束を図ましょう");
  } else if ( percent <= 20 && percent > 10) {
    alert("80%経過しました。<br>アクション項目の整理");
  } else if ( percent <= 10 && percent > 0) {
    alert("90%経過しました。<br>優先度、スケジュールの決定");
  } else {
    alert("終了時間になりました！");
  }
};

//フォームを初期状態に戻す（リセット）関数
function reSet() {
    document.timer.elements[0].value = "0";
    document.timer.elements[1].value = "0";
    document.timer.elements[2].disabled = false;
    clearInterval(timer1);
}

</script>

  
  <p>話し合いのゴール: <%= @meeting.goal %></p>

  <%= render 'form3', meeting: @meeting %>


</div>