<h1>フィードバック</h1>

<%= form_for(@feedback) do |f| %>
    
  
    
    <div class="score">
      <%= f.label :点数 %>
      <%= f.number_field :score, in: 1..5, step: 1, autofocus: true, autocomplete: "score" %>
    </div>

<div class="description">
      <%= f.label :メッセージ %>
      <%= f.text_field :description, autofocus: true, autocomplete: "description" %>
    </div>

<% end %>

<%= render 'form', feedback: @feedback %>

<%= link_to 'Back', feedbacks_path %>
