<header class="header">
 <div class="wrapper">
 <div class="logo">
  <%= image_tag 'soy_logo.png', :size => '111x64'  %>
  </div>

  <div class="nav">
  <% if user_signed_in? %>
      <%= link_to "会議を始める", new_meeting_path, class: "btn" %>
      <%= link_to "アーカイブ", meetings_path, class: "btn" %>
      <%= link_to "フィードバック", feedbacks_path, class: "btn" %>
      <%= link_to "アカウント", user_path(current_user), class: "btn" %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn" %>
    <% else %>
      <%= link_to "新規登録", new_user_registration_path, class: "btn" %>
      <%= link_to "ログイン", new_user_session_path, class: "btn" %>
    <% end %>
   </div>
 </div>
</header>