<!DOCTYPE html>
<html>
  <head>
    <title>Soy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="header">
    <div class="wrapper">
     <div class="logo">
       <%= image_tag 'soy_logo.png', :size => '115x65'  %>
     </div>
     <div class="nav">
      <% if user_signed_in? %>
      <%= link_to "会議を始める", new_meeting_path, class: "btn btn-outline-primary" %>
      <%= link_to "アーカイブ", meetings_path, class: "btn btn-outline-primary" %>
      <%= link_to "フィードバック", new_feedback_path, class: "btn btn-outline-primary" %>
      <%= link_to "アカウント", user_path(current_user), class: "btn btn-outline-primary" %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-outline-primary" %>
     <% else %>
      <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-primary" %>
      <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-primary" %>
     <% end %>
     </div>
    </div>
    </div>
  </header>
  
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  
    <%= yield %>
  
<footer class="footer">
  <p>© 2022 All Rights Reserved.</p>
  </footer>
</body>
    
</html>


